<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
     <%= render 'tag', tag_list: @tag_list %>
    </div>
    <div class='col-md-9'>
      <h2>投稿一覧(フォロー)</h2>
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>