// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top {
  background-image: image-url('mountain2.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: 650px;
}