<% if @model == 'user' %>
  <h2>Users search for "<%= @content %>"</h2>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' %>
  <h2>Posts search for "<%= @content %>"</h2>
  <%= render 'public/posts/index', posts: @records %>
<% end %>