$('.message').append("<div style='text-align: right; margin-bottom: 3px;'><p style='display: inline; background-color: #5BFF7F; padding: 2px 5px; border-radius: 5px;'><%= @chat.message %></p></div>");
$('input[type=text]').val("")