<table class="table table-bordered">
 <thead class="text-center">
   <tr>
     <th>タグ</th>
   </tr>
 </thead>
 <tbody class="table-borderless ">
   <% tag_list.each do |list| %>
     <% if list.posts.count != 0 %>
       <tr>
         <td>
          <%= link_to tag_posts_path(list) do %>
           <%= list.name %>(<%= list.posts.count %>)
          <% end %>
         </td>
       </tr>
      <% end %>
   <% end %>
   <tr>
     <td><%= paginate tag_list %></td>
   </tr>
 </tbody>
</table>