<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
     <%= render 'tag', tag_list: @tag_list %>
    </div>
    <div class='col-md-9'>
      <div class="form-inline">
        <h2>投稿一覧</h2>
        <h4 class="ml-1">(#<%= @tag.name %>)</h4>
      </div>
      <%= render 'public/posts/index', posts: @posts %>
    </div>
  </div>
</div>
